<div class="container main-container">
  <p class="lead">
    Bienvenido a MoviesApp, nos complace que quieras unirte a nuestra comunidad.
    Por favor llena el siguiente formulario
  </p>
  <p class="font-weight-bold">Registrarse</p>
  <form [formGroup]="formulario" (ngSubmit)="saveUser()" novalidate>

    <div class="form-group">
        <label class="font-own" for="">Insert your name</label>
        <input
          type="text"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (this.formulario.controls['name'].errors?.required ||
                this.formulario.controls['name'].errors?.minlength ||
                this.formulario.controls['name'].errors?.maxlength ||
                this.formulario.controls['name'].errors?.isExist) &&
              this.formulario.controls['name'].touched
          }"
          autocomplete="name"
          placeholder="name"
          formControlName="name"
        />
        <!--Para verificar detalladamente  -->
      
    <div
      class="invalid-feedback"
      *ngIf="this.formulario.controls['name'].errors?.required"
    >
      Este campo es requerido
    </div>
    <div
      class="invalid-feedback"
      *ngIf="this.formulario.controls['name'].errors?.minlength"
    >
      Por menos debe tener 3 caracteres
    </div>
    <div
      class="invalid-feedback"
      *ngIf="this.formulario.controls['name'].errors?.maxlength"
    >
      Error, Maximo 10 caracteres
    </div>
    </div>
    <div class="form-group">
      
      <label class="font-own" for="">Insert your username</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (this.formulario.controls['user'].errors?.required ||
              this.formulario.controls['user'].errors?.minlength ||
              this.formulario.controls['user'].errors?.maxlength ||
              this.formulario.controls['user'].errors?.isExist) &&
            this.formulario.controls['user'].touched
        }"
        autocomplete="username"
        placeholder="username"
        formControlName="user"
      />
      <!--Para verificar detalladamente  -->
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['user'].errors?.isExist"
      >
        Ya existe ese usuario, intente con otro
      </div>
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['user'].errors?.required"
      >
        Este campo es requerido
      </div>
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['user'].errors?.minlength"
      >
        Por menos debe tener 3 caracteres
      </div>
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['user'].errors?.maxlength"
      >
        Error, Maximo 10 caracteres
      </div>
    </div>
    <div class="form-group">
      <label class="font-own" for="">Insert your password</label>
      <input
        type="password"
        autocomplete="new-password"
        class="form-control"
        placeholder="password"
        [ngClass]="{
          'is-invalid':
            (this.formulario.controls['password1'].errors?.required ||
              this.formulario.controls['password1'].errors?.minlength ||
              this.formulario.controls['password1'].errors?.maxlength) &&
            this.formulario.controls['password1'].touched
        }"
        formControlName="password1"
      />
      <!--Para verificar detalladamente  -->
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['password1'].errors?.required"
      >
        Este campo es requerido
      </div>
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['password1'].errors?.minlength"
      >
        Por menos debe tener 5 caracteres
      </div>
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['password1'].errors?.maxlength"
      >
        Error, Maximo 10 caracteres
      </div>
    </div>
    <div class="form-group">
      <label class="font-own">Password confirm</label>
      <input
        type="password"
        [ngClass]="{
          'is-invalid':
            this.formulario.controls['password2'].errors?.noIguales &&
            this.formulario.controls['password2'].touched
        }"
        autocomplete="new-password"
        class="form-control"
        placeholder="password confirm"
        formControlName="password2"
      />

      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['password2'].errors?.noIguales"
      >
        La confirmacion de la clave es erronea
      </div>
    </div>
    <div class="form-group">
      <label class="font-own">Insert your email</label>
      <input
        type="email"
        [ngClass]="{
          'is-invalid':
            (this.formulario.controls['email'].errors?.pattern ||
              this.formulario.controls['email'].errors?.required) &&
            this.formulario.controls['email'].touched
        }"
        class="form-control"
        placeholder="insert email"
        formControlName="email"
      />
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['email'].errors?.pattern"
      >
        Proporciona un correo valido
      </div>
      <div
        class="invalid-feedback"
        *ngIf="this.formulario.controls['email'].errors?.required"
      >
        Este campo es requerido
      </div>
    </div>
    <div class="form-group">
      <input
        type="checkbox"
        value=""
        [checked]="check"
        (change)="(check != check)"
      />Aceptar nuestros terminos y condiciones
    </div>

    <div [ngSwitch]="alert" *ngIf="isSave">
      <div *ngSwitchCase="'success'" class="alert alert-info">
        Se ha guardado  correctamente el usuario
      </div>
      <div *ngSwitchCase="'error'" class="alert alert-danger">
        Ha ocurrido un error en la insercion de datos
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="this.formulario.invalid"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Registrarse
    </button>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{ modal.title }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ modal.body }}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              [routerLink]="['login']"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
