
<div class="container">
  <div class="row">
    <div class="col-md-5">
        <h1> BIENVENIDO {{nombreUsuario}}</h1>

    </div>
    <div class="col-md-7">

      <img class="img-thumbnail img-fluid image" [src]="imgUsuario" alt="">


    </div>
  </div>
  <br>

  <app-gallery [peliculas]="cartelera|slice:0:6"  titulo="Películas en cartelera"></app-gallery>
  <app-gallery [peliculas]="rated|slice:0:6"  titulo="Top Peliculas"></app-gallery>
  <app-gallery [peliculas]="populars|slice:0:6"  titulo="Populares"></app-gallery>
  






</div>


