<div class="container" *ngIf="isLoad">
  <h1>{{currentMovie.title}}</h1>
  <hr>
  <br>
  <div class="row">
  <div class="col-md-5">
    <img  class="img-thumbnail img-fluid"   [src]="currentMovie.photo | imagenPipe" [alt]="currentMovie.title">
  </div>
  <div class="col-md-7" >
    <h3>Sinopsis</h3>
    <p class="font-weight-light">{{currentMovie.description}}</p>
    <div class="font-weight-bold">
        Popularidad:
          <span class="badge badge-primary">{{currentMovie.popularity}}</span>
     
    </div>
    <div class="font-weight-bold">
      Voto promedio:
          <span class="badge badge-primary">{{currentMovie.vote_average}}</span>
      </div>
      <br>
      <button type="button" class="btn btn-outline-danger" (click)="redirect()">Back</button>
  </div>
  </div>
</div>
