<div class="container main-container">
  <div class="jumbotron bg-light">
    <h1 class="display-4 text-center">Peliculas App</h1>
    <p class="lead">
      Bienvenido para una mayor interaccion con nuestro software lo conveniente seria loguearse
      para tener todas las facilidades disponibles.
    </p>
    <form>
      <div class="form-group">
        <label class="font-own"for="">Username</label>
        <input type="text" name="" class="form-control" placeholder="username" #user>
      </div>
      <div class="form-group">
        <label class="font-own" for="">Password</label>
        <input type="text" class="form-control" placeholder="password" #password>
      </div>
      <button type="button" class="btn btn-primary" (click)="loginByUser(user.value, password.value)">Login</button>
    </form>
    <hr class="my-4">
    <p>Tambien te proporcionamos la facilidad de que ingreses a nuestro sistemas con tus redes favoritas </p>
    <div class="text-center">
      <button  class="btn btn-primary" (click)="login('facebook')">Facebook</button>
      <button  class="btn btn-warning margin-left" (click)="login('google')">Google</button>
      <button  class="btn btn-info margin-left" (click)="login('twitter')">Twitter</button>
      
    </div>
  </div>
</div>
