<div class="container  main-container">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Buscar</label>
        <input
        [(ngModel)]="buscar" 
        type="text"
                name="buscar"
                (keyup.enter)="searchMovie()"
                value=""
                class="form-control"
                placeholder="Buscar pelicula">
      </div>
    </div>
  </div>

  <div class="row">

    <div class="card-columns">
      <div class="card" *ngFor="let item of movieService.peliculas">
        <img class="card-img-top img-fluid" [src]="item.poster_path | imagenPipe" [alt]=" item.original_title">
        <div class="card-body">
          <h5 class="card-title">{{item.original_title}}</h5>
          <p class="card-text text-justify"> {{item.overview}}</p>
          <button type="button"
           class="btn btn-outline-primary btn-block"
           [routerLink]="['/pelicula',item.id, 'search', buscar]">Ver mas..</button>
        </div>
      </div>
    </div>

  </div>

  

  
</div>

















<!-- <div class="container">

  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Buscar pelicula:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
  <button type="button" class="btn btn-outline-danger" >Buscar</button>



</div> -->

<!-- <div class="container top-30">

  <div class="row">

    <div class="col-md-3">

      <label for="estado">Buscador de peliculas</label>

      <input [(ngModel)]="estado"
      (keyup)="buscarPelicula()"
      type="text" name="estado"
      class="form-control"
      placeholder="Buscar por artista...">
      <hr>

    </div>

    <div class="col-md-9">


      <div class="row">
          <div class="col-md-3 text-center puntero"
                [routerLink]="['/artista',artista.id]"
                *ngFor="let artista of _spotifyService.artistas">
            <img [src]="artista.images | sinfoto" class="img-fluid img-thumbnail">
            <p>
              {{ artista.name }}
            </p>
            <hr>
          </div>
      </div>


    </div>


  </div>

</div> -->
