<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" *ngIf="firebaseService.isLogged()" [routerLink]="['home']" >Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="firebaseService.isLogged()" [routerLink]="['search']" >Buscar</a>
      </li>
    </ul>
    <form *ngIf="firebaseService.isLogged()" class="form-inline my-2 my-lg-0"
          (ngSubmit)="buscarPeli(buscar.value)">
      <input class="form-control mr-sm-2"
             type="search"
             placeholder="Search"
             aria-label="Search"
             #buscar>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button  class="btn btn-outline-primary" *ngIf="!firebaseService.isLogged()" [routerLink]="['login']">Login</button>
    <button  class="btn btn-outline-danger m-2" *ngIf="firebaseService.isLogged()" [routerLink]="['login']" (click)="logout()">Logout</button>
    <button  class="btn btn-outline-success margin-left"  *ngIf="!firebaseService.isLogged()" [routerLink]="['signUp']">Sign up</button>
  </div>
</nav>
